{{#if session.isAuthenticated}}
  {{c-topbar-small toggleChat="toggle" toggleMenu="toggleMenu" chatOpen=open menuOpen=menuOpen}}
  <div id="wrapper">
    <div class="flex-container">
      {{c-sidebar steps=steps setActive="setActive" active=active open=menuOpen}}
      <div class="content" id="content-view">
        {{outlet}}
      </div>
    </div>

    {{#ui/ui-dropdown open=open position="right" arrow="right" right="128px" closeDropdown="toggleOpen" }}
      {{m-button-float messages=model open=open toggle="toggle"}} {{m-chat messages=model open=open}}
    {{/ui/ui-dropdown}}
  </div>
{{else}}
  <div id="wrapper">
    {{session-login}}
  </div>
{{/if}}