<input type="radio"
       id="{{this.elementId}}--radio"
       name={{name}}
       value={{value}}
       onclick={{action "onChange" value="target.value"}}
       checked={{checked}}>

<label for="{{this.elementId}}--radio">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{label}}
  {{/if}}
</label>
