<div class="timeline">
   <ul>
     {{#each structure.person.content as | step index | }}
       {{#link-to "step" index tagName="li"}}
       <div class="bullet pink {{if (eq step (object-at structure.person.content structure.active)) 'active' '' }}">{{#liquid-if step.completed}}{{fa-icon "check"}}{{/liquid-if}}</div>
       <div class="title {{if (eq step (object-at structure.person.content structure.active)) 'active' '' }}">{{step.name}} <div class="time">{{#each step.value as | text | }}<div class="">{{text.name}}: {{text.value}}</div> {{/each}}</div></div>
       {{/link-to}}
     {{/each}}
   </ul>
 </div>