<div class="box-center">
  {{#if session.isWorking}}
    <div class="loading-spinner"></div>
  {{else}}
  <h1>Behandlingsresan</h1>
  <div class="text">Vi kommer ta dig genom den här resan genom att ge dig översikt samt stödja dig</div>
  <button class="button bradius-rounded mb0 mt2" {{action "signIn" "facebook"}}>
    {{#if session.isWorking}}
      Loggar in...
    {{else}}
      {{fa-icon "facebook-official mr1"}} Logga in med Facebook
      {{/if}}
</button>
  <div class="text-small text-bold" {{action "signInAnonymously"}}>
  Logga in annonymt
  </div>
  {{/if}}
  {{#if error}}
    <div class="text-error">
      fel {{error}}
    </div>
  {{/if}}
</div>