
  <div class="{{if item.noBorder 'no-border'}} card-content" style= {{style}}>
    {{#if block}}
      {{yield}}
    {{else}}
      <div class="content {{if (eq item.background false) 'no-background'}}">
        {{#if (and (not item.floatText) item.image)}}
          <img src= {{if item.image item.image '../../assets/images/rehab.png'}} class="image" alt="">
        {{/if}}

        {{#if item.title}}
          <h3>{{item.title}}</h3>
        {{/if}}

        {{#if item.floatText}}
          <div class="float flex flex-column">
            {{item.floatText}}
            <div class="sub">
              {{item.floatDesc}}
            </div>
          </div>
        {{/if}}
      </div>

      {{#liquid-if open}}

      {{#if (or item.text item.sections)}}
        <div class="text row">
          {{#if item.text}}
            <span class="text-bold">
            {{{item.text}}}
          </span>
          {{/if}}

          {{#each item.sections as | section | }}
            {{c-card-accordion-item section=section canChoose=canChoose}}
          {{/each}}
        </div>
      {{/if}}
      {{/liquid-if}}

      <div {{action "toggle"}} class="flex align-center toggle">
        {{#if open}}
        {{fa-icon "angle-double-up"}}
          Dölj
        {{fa-icon "angle-double-up"}}
        {{else}}
        {{fa-icon "angle-double-down"}}
          Läs mer
        {{fa-icon "angle-double-down"}}
        {{/if}}
      </div>

    {{/if}}
  </div>