<div class="large-12 {{if (not section.choise) 'pt1'}}">
  {{#if (and section.choise canChoose)}}
    {{ui/ui-radio-button label=section.title value=section.title name=item.title classNames="m0 ml1 mr1" onChange="didSelectChoise" checked=(key-value-in-array item.title section.title value)}}
  {{else}}
    <div class="flex flex-justify" {{ action "toggle"}}>
      <h5 class="{{if (not canChoose) 'ml2'}}">{{section.title}}</h5>
      {{#if section.text}}
        {{#if open}}
          {{fa-icon "angle-down"}}
        {{else}}
          {{fa-icon "angle-right"}}
          {{/if}}
      {{/if}}
    </div>
  {{/if}}
  {{#liquid-if open}}
  <div class="{{if section.choise 'ml3'}}">
    {{section.text}}
  </div>

  {{#if section.sections}}
  {{#each section.sections as | child | }}
    {{c-card-accordion-item item=item section=child canChoose=canChoose value=value}}
  {{/each}}
  {{/if}}
  {{/liquid-if}}
  <hr>
</div>