<div class="large-12 {{if (not section.choise) 'pt1'}}">
  {{#if (and section.choise canChoose)}}
    {{ui/ui-radio-button label=section.title value=section.title name=item.title classNames="m0 ml1 mr1" onChange="didSelectChoise" checked=(key-value-in-array item.title section.title value)}}
  {{else}}
    <h5 class="{{if (not canChoose) 'ml2'}}">{{section.title}}</h5>
  {{/if}}
  {{#liquid-if open}}
  <div class="{{if section.choise 'ml3'}}">
    {{section.text}}
  </div>
  {{/liquid-if}}
  <hr>
</div>