{{#if (and (not myMessage) (not (is-last-message-by-user messages message index)))}}
  <div class="message-user">
    {{message.user}}
  </div>
{{/if}}
{{#if myMessage}}
  <div class="message-box">
    {{message.text}}
  </div>
{{else}}
  <div class="flex flex-row">
    {{#if (not (is-last-message-by-user messages message index))}}
      {{#if (and message.image)}}
        <div class="message-image" style= {{style}}></div>
      {{/if}}
    {{else}}
      {{#if message.image}}
        <div class="message-image"></div>
      {{/if}}
    {{/if}}
    <div class="message-box">
      {{message.text}}
    </div>
  </div>
{{/if}}
{{#liquid-if (and isClicked message.created)}}
  <div class="message-date {{if message.image 'image'}}">
    {{time-ago message.created}}
  </div>
{{/liquid-if}}
<div class="mb1 {{if myMessage 'me'}}"></div>
{{scroll-bottom}}