<ul class="menu vertical">
  <li class="">
    {{#link-to "index" tagname="li" classNames="header" }}Behandlings<br>resan{{/link-to}}
  </li>
  <li>
    {{#link-to "prevent"}}Förebyggande{{/link-to}}
  </li>
  <li {{ action "toggleTimeline"}}>
    {{#link-to "edit"}}
    {{#if (gt structure.person.content.length 0) }}
        Min behandling
      {{else}}
        Återskapa din behandlingsplan
      {{/if}}
      {{#if (gt structure.person.content.length 0) }}
        {{fa-icon "pencil-square-o pull-right"}}
      {{/if}}
    {{/link-to}}
  </li>
</ul>
{{#liquid-if (gt structure.person.content.length 0) }}
  <div class="timeline">
    {{c-timeline setActive="setActive" }}
  </div>
{{else}}
<div class="timeline">
<div class="instruction">
  <img src="/assets/images/noun_890450_cc.png" class="arrow" alt="">
Återskapa behandlingsplanen som du har blivit tilldelad av din läkare
</div>
</div>
{{/liquid-if}}
{{c-user-card}}